*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 24px;
    font-weight: 500;
}

h4{
    font-size: 20px;
    font-weight: 500;
}

h5{
    font-size: 16px;
    text-transform: uppercase;
    color: #02287A;
    font-weight: 500;
}

h6{
    font-size: 14px;
}

p{
    font-size: 16px;
}

.highlight {
  font-size: 20px;
  color: #02287A;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #02287A;
    min-height: 6vh;
    z-index: 1;
}

.shadow{
    background-color: #000;
    width: 100%;
    height: 100vh;
    z-index: 2;
    right:0;
    opacity: 0.8;
    transition: background-color 0.5s ease-out;
}

.logo{
    text-transform: uppercase;
    color: #fff;
    display: none;
    padding: 18px 20px;
}

.nav-links{
    list-style: none;
    display: flex;
    z-index: 1;
}

.nav-links li{
    padding: 18px 20px;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    opacity: 0.7;
}

.nav-links li a:hover{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    opacity: 1;
}

.burger-menu{
    cursor: pointer;
    display: none;
}

.burger-menu div{
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1140px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        padding: 2em;
        position: absolute;
        right: 0px;
        height: 94vh;
        top: 6vh;
        background-color: #02287A;
        width: 40%;;
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .burger-menu{
        display: inline;
    }
    .logo{
        display: inline;
    }
}

@media screen and (min-width: 1140px){
    .shadow{
        display: none;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -5px);
}

.header-picture{
    background-image: url("images/yokohama-header.jpg");
    background-size: 100% 85vh;
}
.multiply-picture{
    display: flex;
    background-image: linear-gradient(to bottom, rgba(2, 40, 122, 1), rgba(2, 40, 122, 0.5));
    background-blend-mode: multiply;
}


.schedule-table {
    border-spacing: 0;
    width: 100%;
}

.schedule-table .schedule-time {
  background: #F3F6FC;
  padding: 0rem 1rem;
  border: 1px solid #C4C4C4;
  text-align: center;
}

.schedule-table .schedule-content {
  background: white;
  font-size: 20;
  font-weight: bold;
  padding: 1.5rem 1.5rem;
  border: 1px solid #C4C4C4;
}

.session-schedule {
  font-size: 16px;
  border-spacing: 0;
  width: 100%;
}

.session-schedule .schedule-time {
  color: #02287A;
  min-width: 120px;
  font-size: 14px;
  background: white;
  padding: 0rem 0.5rem;
  border: 1px solid #C4C4C4;
  text-align: center;
}

.session-schedule .schedule-content {
  padding: 1rem 1rem;
  border: 1px solid #C4C4C4;
  text-align: left;
}

.schedule-1 {
  background: white;
}

.schedule-2 {
  background: #F3F6FC;
}

.contact {
  display: flex;
  margin-right: 4rem;
}

.best-paper {
    color: #02287A;
    font-weight: bold;
    padding: 3px 10px;
    border: 2px solid #02287A;
    border-radius: 5px;
}

.honorable-mention {
  color: #0667DB;
  font-weight: bold;
  padding: 3px 10px;
  border: 2px solid #0667DB;
  border-radius: 5px;
  margin-right: 1rem;
}

.chair-section {
    margin-bottom: 2rem;
}

.chair-section a {
  text-decoration: none;
  color: #0667DB;
  font-style: italic;
}

.chair-section h3 {
  margin-bottom: 1rem;
}

.program-committee table{
  width: 100%;
  text-align: center;
}

.program-committee td {
  background-color: white;
  padding: 1rem 0rem;
  width: 50%;
}

.text-title{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 4rem;
    color: #fff;
    width: 100%;
    height: 70vh;
}

.text-title ul{
    list-style: none;
}

.table-of-content {
  display: flex;
}

.table-of-content li {
  padding: 0rem 0.5rem;
  margin: 1rem 0rem;
  list-style-type: none;
  border-left: 2px solid black;
}

/* For footer */
footer{
    padding: 2em;
    background-color: #02287A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

footer .h4{
    font-weight: 500;
}

.icons{
    margin: 0.5em 0.5em 2em 0.5em;
}

.icons span{
    margin: 0 0.5em;
}

.twitter-icon, .facebook-icon{
    width: 24px;
    height: 24px;
}

small{
    opacity: 0.7;
}


.introduction{
    display: flex;
    margin: 3em 4em;
}

.introduction h2{
    margin-bottom: 1em;;
}

.intro-note{
    padding-right: 2em;
    flex:2;
    border-right: 1px solid #C4C4C4;
}

.intro-note p:nth-child(2){
    margin-bottom: 1em;
}

.updates{
    flex: 1;
    padding-left: 2em;
}

.updates ul{
    list-style: none;
}

.updates ul li{
    padding: 0.5em 0;
}

.updates ul li:nth-child(2){
    border-bottom: 1px solid #C4C4C4;
    border-top: 1px solid #C4C4C4;
}

.updates h4{
    font-weight: 700;
}

/* Important Dates */
.important-dates{
    background-color: #02287A;
    color: #fff;
    padding: 3em 4em;
}

.important-dates h2{
    font-weight: 700;
}

.important-dates-table{
    color: #fff;
    border-collapse: collapse;
    margin: 1em 0 2.5em 0;
    border-radius: 4px;
}

.important-dates-table th{
    padding: 1em 2em;
    text-transform: uppercase;
    border: 1px solid #fff;
}

.important-dates-table tr{
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.important-dates-table .middle-info{
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

.important-dates-table tr:last-child{
    border-bottom: 1px solid #fff;
}

.important-dates-table td, th{
    padding: 1em 2em;
}

.important-dates-table h6{
    font-weight: 500;
    opacity: 0.75;
}

.default-button{
    padding: 16px 32px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    background-color: #0667DB;
    border: none;
}

.default-button:hover{
    background-color: #338FFC;
    cursor: pointer;
}

.make-submission{
    margin: 0 auto;
    display: block;
    font-weight: 700;
}

/* Keynote Speakers */

.keynote-speakers{
    padding: 3em 4em;
}

.speaker-info{
    margin-top: 2em;
    display: flex;
}

.affiliation-link{
    color: #0667DB;
    text-decoration: none;
    font-style: italic;
    font-weight: 700;
}

.speaker1-name{
    height: 353px;
    flex: 1;
}

.speaker-description{
    flex: 2;
    margin-left: 2em;
}

.speaker-description h3{
    font-weight: 700;
}

.speaker-description p{
    padding: 1em 0 0 0;
}

/* Sponsors */
.sponsors{
    padding: 3em 4em;
}

.sponsors h3{
    font-weight: 700;
    margin-bottom: 2em;
}

.sponsor-logos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsor-logos img{
    height: 120px;
    padding: 0 2em;
}

/* Proceedings */
.proceedings{
    padding: 3em 4em;
}

.proceedings h3{
    font-weight: 700;
    margin-bottom: 2em;
}


.proceedings-logos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.proceedings-logos img{
    height: 120px;
    padding: 0 2em;
}


/* Call for participation EN page */
.submission-details h2{
    margin: 52px 0 24px 0;
}

.document{
    margin: 2em 0;
    display: flex;
    width: 50%;
    align-items: center;
    padding: 24px;
    border: 1px solid #C4C4C4;
    background-color: #F3F6FC;
    border-radius: 4px;
}

.document div{
    margin-left: 2em;
}

.submission-details .default-button{
    font-weight: 700;
}

.themes h2{
    margin: 52px 0 24px 0;
}

.themes-points{
    margin: 14px 0 52px 3em;
}

.important-dates-overview{
    width: 100%;
    margin: 24px 0 52px 0;
    border: 1px solid #C4C4C4; 
}

.important-dates-overview th{
    background-color: #F3F6FC;
    text-align: start;
}

.important-dates-overview td{
    padding: 24px;
    background-color: #fff;
}

.important-date{
    font-weight: 700;
}

.submission-intro{
    margin: 52px 4em;
}

.submission-intro ul{
    margin-left: 2em;
}

.original-works{
    margin: 52px 3em;
}

.original-works ul{
    margin-left: 1em;
    list-style: none;
}

.showcase{
    margin: 52px 3em;
}

.posters{
    margin: 0 3em;
}

.selection-process{
    margin: 52px 0 52px 3em;
}

.funding-support{
    margin: 52px 0 52px 3em;
}

.questions-call{
    margin: 0 3em 52px 3em;
}